[Unit]
Description={{ server_title }} Service
After=network.target

[Service]
Type=forking
User={{ service_username }}
PIDFile=/run/nimc/server.pid
ExecStart=/persistent/bin/server_start
ExecStop=/persistent/bin/server_stop
SuccessExitStatus=0 1
Restart=on-failure
RestartSec=10
PrivateTmp=true
WorkingDirectory=/persistent/server

[Install]
WantedBy=multi-user.target
